<!doctype html>
<html th:replace="~{layout/main :: layout(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">사용자</h1>
  </div>
  <h2>정보 변경</h2>
  <div class="table-responsive">
    <form th:action="@{/siteUser}" th:object="${siteUser}" method="post">

      <div th:if="${#fields.hasGlobalErrors()}">
        <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
      </div>

      <div class="mb-3">
        <label for="id" class="form-label" th:text="#{siteUser.id}">사용자 ID</label>
        <input type="text" class="form-control" id="id" th:field="*{id}" disabled>
      </div>

      <div class="mb-3">
        <label for="loginId" class="form-label" th:text="#{siteUser.loginId}">사용자 로그인 ID</label>
        <input type="text" class="form-control" id="loginId" th:field="*{loginId}" disabled>
      </div>

      <div class="mb-3">
        <label for="userName" class="form-label" th:text="#{siteUser.userName}">사용자 이름</label>
        <input type="text" class="form-control" id="userName" th:field="*{userName}"
               th:errorclass="field-error" placeholder="사용자 이름을 입력하세요">
        <div class="field-error" th:errors="*{userName}">
          사용자 이름 오류
        </div>
      </div>

      <div class="mb-3">
        <label for="cookie" class="form-label" th:text="#{siteUser.slackWebhookUrl}">SlackWebhookUrl</label>
        <input type="text" class="form-control" id="cookie" th:field="*{slackWebhookUrl}"
               th:errorclass="field-error" placeholder="SlackWebhookUr을 입력하세요">
        <div class="field-error" th:errors="*{slackWebhookUrl}">
          WebHookUrl 오류
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/editPassword}'|">Password Change</button>
    </form>
  </div>
</main>
</body>
</html>
