<!doctype html>
<html th:replace="~{layout/main :: layout(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
  <head></head>
  <body>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">포인트 URL</h1>
      </div>
      <h2>목록</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Site Name</th>
              <th scope="col">URL</th>
              <th scope="col">Create Date</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item : ${items}">
              <td th:text="${item.id}">id</td>
              <td th:text="${item.name}">site name</td>
              <td th:text="${item.url}">url</td>
              <td th:text="${item.createdDate}">create date</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
