<!doctype html>
<html th:replace="~{layout/main :: layout(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
  <head></head>
  <body>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">포인트 로그</h1>
      </div>
      <h2>목록</h2>
      <form action="/savePointLog" method="get">
        <input type="radio" name="userName" value="ha"/> ha
        <input type="radio" name="userName" value="park"/> park
        <input type="submit">
      </form>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">URL</th>
              <th scope="col">Site Name</th>
              <th scope="col">User Name</th>
              <th scope="col">Status Code</th>
              <th scope="col">Response Body</th>
              <th scope="col">Response Header</th>
              <th scope="col">Cookie</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item : ${items}">
              <td th:text="${item.pointUrl}">id</td>
              <td th:text="${item.siteName}">site name</td>
              <td th:text="${item.userName}">user name</td>
              <td th:text="${item.responseStatusCode}">status</td>
              <td th:text="${item.responseBody}">body</td>
              <td th:text="${item.responseHeader}">header</td>
              <td th:text="${item.cookie}">cookie</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
